# Quality & Formatting
black==24.2.0
ruff==0.3.2
mypy==1.9.0

# Baza danych
sqlalchemy>=2.0.36
asyncpg>=0.30.0
greenlet>=3.1.1

# API & Walidacja
fastapi>=0.110.0
pydantic>=2.6.0
uvicorn>=0.28.0

# Chmura Azure
azure-servicebus>=7.12.1
azure-appconfiguration>=1.4.0

# Azure & Telemetria
azure-monitor-opentelemetry>=1.4.0
opentelemetry-instrumentation-fastapi>=0.45b0